
.navbar {
  position: fixed;
  display: inline-block;
  top: 0;
  width: 100%;
  background-color: aqua;
  padding: 16px;
  box-sizing: border-box;
  font-weight: 900;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
}